:root {
	font-size: 16px; 
	/*This sets the font-size all over the document. Default: 16px;
	You can set all other value relative to this value. I mean, this is the easiest way to 
	changing a whole complex object with changing one value. See bottom the @media block.*/
}

body, html { 
    margin: 0;
    padding: 0;
    /* Must both parameters set when vertical scrollbar appears with min-height: 100vh. */
}

body {
	font-family: 'Space Grotesk', sans-serif;
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-image: url("./images/bg-main-desktop.png");
	background-repeat: no-repeat;
	background-size: 35vw;
}

#div-id-main-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 50%;
}

#div-id-main-right {
	width: 50%;
}

#div-id-card-front {
	width: 27.9375rem;
	height: 15.3125rem;
	background-image: url("./images/card-logo.svg"), url("./images/bg-card-front.png");
	background-size: 5rem, 27.9375rem;
	background-position: left top, left top;
	background-position-x: 2rem, 0;
	background-position-y: 2rem, 0;
	background-repeat: no-repeat;
	color: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 5rem;
	margin-bottom: 1rem;
}

#p-id-cardholder-name {
	text-transform: uppercase;
	margin: 1.5rem 2rem;
}

#div-id-card-front-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#div-id-exp-date {
	margin: 1.5rem 2rem;
}

#p-id-card-number {
	margin: 0 2rem;
	font-size: 2rem;
}

#div-id-card-back {
	width: 27.9375rem;
	height: 15.3125rem;
	background-image: url("./images/bg-card-back.png");
	background-size: 27.9375rem;
	color: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-right: 0.5rem;
	margin-top: 1rem;
}

#p-id-card-cvc {
	margin-right: 3rem;
}


#div-id-card-data {
	width: 23.75rem;
	height: 21.875rem;
	margin-left: 7rem;
	display: block;
	/*display: none;*/
}

.p-class-wrong {
	display: none;
	font-size: 0.7rem;
	color: hsl(0, 100%, 66%);
	margin: 0.4rem 2rem 0.7rem 0;
}

.input-class {
	height: 2.75rem;
	border: 1px solid hsl(270, 3%, 87%);
	border-radius: 0.375rem;
	padding-left: 1rem;
	font-size: 1.1rem;
}

.p-class-card-text {
	font-size: 0.7rem;
	margin: 1rem 0 0.4rem;
}

#input-id-cardholder-name {
	width: 22.6rem;
}

#input-id-card-number {
	width: 22.6rem;
}

#div-id-card-data-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#div-id-exp-date-input {
	width: 11.9375rem;
}

#div-id-exp-date-input-inner {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 11.9375rem;
}

#input-id-exp-date-month {
	width: 3.5rem;
	margin-right: 1rem;
}

#input-id-exp-date-year {
	width: 3.5rem;
}

#div-id-card-cvc-input {
	width: 11.875rem;
}

#input-id-cvc {
	width: 10.75rem;
}

.div-class-confirm-continue {
	background-color: hsl(278, 68%, 11%);
	width: 23.875rem;
	height: 3.25rem;
	border-radius: 0.375rem;
	color: 	hsl(0, 0%, 100%);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 2.5rem;
	cursor: pointer;
}

#div-id-thankyou {
	width: 23.75rem;
	height: 21.875rem;
	margin-left: 7rem;
	display: none;
	/*display: flex;*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#p-id-thankyou {
	text-transform: uppercase;
	color: hsl(278, 68%, 11%);
	font-size: 2rem;
	margin: 2rem 0 1rem;
}

#p-id-we {
	color: hsl(279, 6%, 55%);
	margin: 0 0 1rem;
	font-size: 1.125rem;
}

@media (max-width: 1166px) {

	:root {
	font-size: 15px; 
	/*This sets the font-size all over the document. Default: 16px;
	You can set all other value relative to this value. I mean, this is the easiest way to 
	changing a whole complex object with changing one value. See bottom the @media block.*/
	}

}

@media (max-width: 966px) {

	:root {
	font-size: 14px; 
	/*This sets the font-size all over the document. Default: 16px;
	You can set all other value relative to this value. I mean, this is the easiest way to 
	changing a whole complex object with changing one value. See bottom the @media block.*/
	}

	main {
		flex-direction: column;
		background-image: none;
	}

	#div-id-card-data {
		margin: 0;
	}

	#div-id-main-right {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-top: 4rem;
	}

	#div-id-main-left {
		align-items: center;
		background-image: url("./images/bg-main-mobile.png");
		background-repeat: no-repeat;
		background-size: 100%;
		position: relative;
		height: 17.5rem;
		width: 26.86rem;
	}

	#div-id-card-front {
		width: 20.43rem;
		height: 11.2rem;
		background-size: 3rem, 20.43rem;
		background-position-x: 1.5rem, 0;
		background-position-y: 1.5rem, 0;
		margin: 0;
		position: absolute;
		right: 5.5rem;
		top: 8.3rem;
		z-index: 10;
	}

	#p-id-card-number {
		margin: 0 1.5rem;
		font-size: 1.46rem;
	}

	#p-id-cardholder-name {
		font-size: 0.73rem;
		margin: 1.095rem 1.46rem;
	}

	#div-id-card-front span {
		font-size: 0.73rem;
	}

	#div-id-card-back {
		width: 20.43rem;
		height: 11.2rem;
		background-size: 20.43rem;
		margin: 0;
		position: absolute;
		right: 1rem;
		top: 2rem;
		position: absolute;
		right: 1rem;
		top: 2rem;
	}

	#p-id-card-cvc {
		font-size: 0.73rem;
	}

	#div-id-thankyou {
		margin: 0;
	}

}